@using AS = JW.Services.CMS.Singleton.AttachmentSettingsSingleton;
@inject JW.Core.Encrypt.DESEncrypt desEncrypt;
@model JW.Domain.CMS.Entity.ContentEntity

@{
    ViewBag.Title = "内容表单";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link type="text/css" href="/js/plugins/webuploader/webuploader.css" rel="stylesheet" />
<form class="form-horizontal m-t" id="articleForm">
    <input type="hidden" asp-for="C_ID" />
    <input type="hidden" asp-for="CAT_ID" />
    <div class="form-group">
        <label class="col-sm-2 control-label">所属栏目：</label>
        <div class="col-sm-10">
            @ViewBag.CatName
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">标题：*</label>
        <div class="col-sm-10">
            <input asp-for="C_TITLE" class="form-control required" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">副标题：*</label>
        <div class="col-sm-10">
            <input asp-for="C_SUBTITLE" class="form-control required" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">摘要：*</label>
        <div class="col-sm-10">
            <textarea cols="4" asp-for="C_SUMMARY" class="form-control required"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">作者：*</label>
        <div class="col-sm-2">
            <input asp-for="C_AUTHOR" class="form-control required" />
        </div>
        <label class="col-sm-2 control-label">来源：*</label>
        <div class="col-sm-2">
            <input asp-for="C_SOURCE" class="form-control required" />
        </div>
        <label class="col-sm-2 control-label">权重：*</label>
        <div class="col-sm-2">
            <input asp-for="C_WEIGHT" class="form-control required digits" />
            值越小，前端显示越靠前
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">是否置顶：</label>
        <div class="col-sm-1">
            <label class="checkbox-inline i-checks">
                <input asp-for="C_ISTOP" />
            </label>
        </div>
        <label class="col-sm-2 control-label">是否推荐：</label>
        <div class="col-sm-1">
            <label class="checkbox-inline i-checks">
                <input asp-for="C_ISREC" />
            </label>
        </div>
        <label class="col-sm-2 control-label">是否权限：</label>
        <div class="col-sm-1">
            <label class="checkbox-inline i-checks">
                <input asp-for="C_ISPER" />
            </label>
        </div>
        <label class="col-sm-2 control-label">是否幻灯片：</label>
        <div class="col-sm-1">
            <label class="checkbox-inline i-checks">
                <input asp-for="C_ISSLIDE" />
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">关键字：</label>
        <div class="col-sm-10">
            <input asp-for="C_KEYWORDS" class="form-control" placeholder="关键字之间用,分开">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">封面图片：</label>
        <div class="col-sm-10">
            <div id="upload_pic_info"></div>
            <!--用来存放文件信息-->
            <div id="uploader" class="wu-example">
                <!--用来存放item-->
                <div id="picList" class="filelist">
                </div>
                <div id="picPicker">选择图片</div>
            </div>
            <h5>上传大小不能超过为 @AS.Singleton.UploadImgMaxSize KB，只能上传1张</h5>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">内容详情：*</label>
        <div class="col-sm-10">
            <script id="txtContent" type="text/plain" style="height:300px;">
                @Html.Raw(Model.C_CONTENT)
            </script>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12 col-sm-offset-5">
            <button class="btn btn-white" type="reset" style="margin-right:40px">重置</button>
            <button class="btn btn-primary" type="button" onclick="submitForm()">保存</button>
        </div>
    </div>
</form>
<script src="/js/plugins/webuploader/webuploader.min.js" type="text/javascript"></script>
<script src="/js/webuploader-img-custom.js" type="text/javascript"></script> 
<script src="/js/plugins/ueditor/ueditor.config.js" type="text/javascript"></script> 
<script src="/js/plugins/ueditor/ueditor.all.min.js" type="text/javascript"></script>
<script src="/js/plugins/ueditor/ueditor.parse.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var UPLOAD_SINGLE_SIZE_LIMIT = @AS.Singleton.UploadImgMaxSize*1024;
    var UPLOAD_SINGLE_SIZE_LIMIT_TEXT = "@AS.Singleton.UploadImgMaxSize KB";
    var UPLOAD_EXT = "@AS.Singleton.UploadImgExt";
    var UPLOAD_DIR = "image";
    var UPLOAD_KEY = "@AS.Singleton.FileServerMD5Key";
    var LIMIT_NUM = 1;  //限制上传的图片数 
    var ue = UE.getEditor('txtContent');
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green' 
        });
        initControl();
        var pic = "@Model.C_IMAGEURL";
        if (pic != "") {
            $(".file-panel").css("height", '0');
            setPic(0, pic, "@desEncrypt.Encrypt(Model.C_IMAGEURL)");
        }
    });
    function initControl() {
        $("#C_PARENTID").bindSelect({
            url: "/CMS/Column/GetTreeSelectJson?id=@Model.C_ID",
        }); 
        $("#C_PARENTID").val(@Model.CAT_ID);
        $("#C_PARENTID").select2(); 
    }
    function submitForm() {
        if (!$('#articleForm').formValid()) {
            return false;
        }
        if (!ue.hasContents()) {
            toastr.warning("请填写内容详情！");
            return false;
        }
        var $hfPic = $("input[name='hidPic']");
        var photo = "";
        if ($hfPic.length > 0) {
            photo = $.trim($("input[name='hidPic']").val());
        }
        var param = $("#articleForm").formSerialize();
        param["ueditor_textarea_editorValue"] = "";
        param["C_IMAGEURL"] = photo;
        param["C_CONTENT"] = ue.getContent();
        $.submitForm({
            url: "/CMS/Article/SubmitForm",
            param: param,
            success: function () {
                location.href="/CMS/Article/Index?cid=@Model.CAT_ID"
            }
        })
    }
</script>

